<div>
  <ul class="tabs">
    <li><a href="#tab-1">Info</a></li>
    <li><a href="#tab-2">Shipping</a></li>
    <li><a href="#tab-3">Returns</a></li>
  </ul>
  <div id="tab-1">
  {{ product.description }}
  </div>
  <div id="tab-2">
  {% render 'shipping' %}
  </div>
  <div id="tab-3">
  {{ pages.returns.content }}
  </div>
</div>
{% schema %}
  {
    "name": "Horizontal Tabs",
    "settings": [
       {
          "type": "text",
          "id": "tabh1",
          "default": "tab1",
          "label": "Tab Heading"
        },
       {
          "type": "richtext",
          "id": "tabc1",
          "label": "Tab1 Content"
        },
       {
          "type": "text",
          "id": "tabh2",
          "default": "tab2",
          "label": "Tab Heading"
        },
      {
          "type": "richtext",
          "id": "tabc2",
          "label": "Tab2 Content"
        },
      {
          "type": "text",
          "id": "tabh3",
          "default": "tab3",
          "label": "Tab Heading"
        },
      {
          "type": "richtext",
          "id": "tabc3",
          "label": "Tab3 Content"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}